.button {
  background-color: @green;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: @white;
  border: none;
  padding-top: 7px;
  padding-bottom: 7px;
}
