.card__link {
  text-decoration: none;
}

.card__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @black;
  text-transform: uppercase;
}

.card__list {
  margin-top: 18px;
}
