.cat-comparison {
  position: relative;
  height: 232px;
}

.cat-comparison__image {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.cat-comparison__image img {
  display: block;
  // vertical-align: middle;
}

.cat-comparison__slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}
