.catalog {
  padding: 0 20px;
  margin: auto;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.catalog__header {
  color: @black;
  margin-top: 27px;
  margin-bottom: 49px;
}

.catalog__list {
  display: grid;
  grid-template-columns: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog__list--foods {
  gap: 19px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}

.catalog__supplements {
  display: grid;
  gap: 36px;

  @media (min-width: @desktop-width) {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 2fr 1fr;
    margin-bottom: 86px;
  }
}

.catalog__list--supplements {
  display: grid;
  grid-column: 1/2;
}

.catalog__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  margin-top: 50px;
  padding: 0;
}

.catalog__promo {
  height: 200px;
  background-image: url("../img/catalog-cat-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog__promo--wrapper {
  height: inherit;
  background-color: @green;
  opacity: 0.85;
}

.catalog__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @white;
  margin: 0;
}

.catalog__footer {
  background-color: @basic-grey;
}
