.custom {
  padding: 0 20px;
}

.custom__title {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 37px;
  padding: 0;
}

.custom__text {
  line-height: 18px;
  text-transform: uppercase;
}

.custom__notice {
  font-family: "Arial", sans-serif;
  line-height: 16px;
}

.custom__wrapper {
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 61px;
  }

  @media (min-width: @desktop-width) {
    gap: 81px;
  }
}
