.features {
  padding: 0 20px;
}

.features__list {
  list-style-type: none;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 49px;
  padding: 0;
}

.features__item:not(:last-child) {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
}

.features__title {
  margin: 0;
  padding: 0;
}

.features__text {
  margin: 0;
  padding: 0;
}
