.promo {
  display: grid;
  grid-template-rows: repeat(4, auto) 277px;
  padding: 25px 20px;
  background-color: @background-grey;

  @media (min-width: @tablet-width) {
    grid-template-rows: repeat(3, auto) 665px;
    grid-template-columns: repeat(2, 50%);
    padding: 38px 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-rows: 195px 140px 120px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 224px;
    padding: 20px 110px 50px;
  }
}

.promo__stats-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;

  @media (min-width: @tablet-width) {
    column-gap: unset;
  }
}

.promo__stats {
  outline: 1px solid #cdcdcd;
  padding: 20px 10px 0;
  outline-offset: -10px;
  margin-left: -10px;
  width: 100%;

  @media (min-width: @tablet-width) {
    padding-top: 30px;
    width: 162px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 23px;
    width: 162px;
  }
}

.promo__stats--days {
  @media (min-width: @tablet-width) {
    margin-left: 22px;
  }

  @media (min-width: @desktop-width) {
    margin-left: -55px;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    grid-column: 1/-1;
    margin-bottom: 74px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
  }
}

.promo__text {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    grid-column: 1/-1;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    width: 435px;
  }
}

.promo__name {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  background-color: @background-grey;
  z-index: 10;
  margin: 0;
  margin-top: 8px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    margin-top: 18px;

    & br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 12px;
  }
}

.promo__value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }

  @media (min-width: @desktop-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.promo__price {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 5px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    justify-self: end;
    text-align: end;
    margin-top: 30px;

    & span {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    justify-self: start;
    text-align: start;

    & span {
      display: inline;
      margin-left: 62px;
    }
  }
}

.promo__cats {
  @media (min-width: @tablet-width) {
    grid-column: 1/-1;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
    grid-row: 1/-1;
  }
}
