.promo {
  padding: 25px 20px 40px;
  background-color: @background-grey;
}

.promo__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.promo__text {
  margin: 0;
  padding: 0;
}

.promo__list {
  margin-top: 20px;
}

.promo__name {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  text-transform: lowercase;
}

.promo__value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.promo__price {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 20px;
}

.cat__label {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 15px;
}
